In [14]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv(r"../data/movies_with_genres.csv")

In [3]:
data.head()

,Title,Description,Genres
0,Fight Club,A ticking-time-bomb insomniac and a slippery s...,"['Drama', 'Thriller']"
1,Impossible Things,"After the death of her abusive husband, Matild...","['Family', 'Drama']"
2,Harakiri,Down-on-his-luck veteran Tsugumo Hanshir≈ç ente...,"['Action', 'Drama', 'History']"
3,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...","['Drama', 'Romance']"
4,City of God,In the poverty-stricken favelas of Rio de Jane...,"['Drama', 'Crime']"

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9780 entries, 0 to 9779
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        9780 non-null   object
 1   Description  9779 non-null   object
 2   Genres       9780 non-null   object
dtypes: object(3)
memory usage: 229.3+ KB

In [5]:
data.shape

(9780, 3)

<div style = "background-color: red; border-radius: 20px; display: flex;
 height: 50px; justify-content: center; align-items: center; font-size: 20px">
üè≥Ô∏èüè≥Ô∏è Objective

<pre style = " color: cyan">
We will preprocess the description, so that feature Engineering can be done to it 
using NLP algorithms.

In [8]:
data['Description'][:10].to_list()

['A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground "fight clubs" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.',
 'After the death of her abusive husband, Matilde finds her new best friend in Miguel, her young, insecure, and disoriented neighbor.',
 'Down-on-his-luck veteran Tsugumo Hanshir≈ç enters the courtyard of the prosperous House of Iyi. Unemployed, and with no family, he hopes to find a place to commit seppuku‚Äîand a worthy second to deliver the coup de gr√¢ce in his suicide ritual. The senior counselor for the Iyi clan questions the ronin‚Äôs resolve and integrity, suspecting Hanshir≈ç of seeking charity rather than an honorable end. What follows is a pair of interlocking stories which lay bare the difference between honor and respect, and promises to examine the legendary foundations of the Samurai code.',
 "A filmmaker recalls his childhood, when he fell in love with the movies at his village's theater and formed a deep friendship with the theater's projectionist.",
 'In the poverty-stricken favelas of Rio de Janeiro in the 1970s, two young men choose different paths. Rocket is a budding photographer who documents the increasing drug-related violence of his neighborhood, while Jos√© ‚ÄúZ√©‚Äù Pequeno is an ambitious drug dealer diving into a dangerous life of crime.',
 'Young hobbit Frodo Baggins, after inheriting a mysterious ring from his uncle Bilbo, must leave his home in order to keep it from falling into the hands of its evil creator. Along the way, a fellowship is formed to protect the ringbearer and make sure that the ring arrives at its final destination: Mt. Doom, the only place where it can be destroyed.',
 'When larcenous real estate clerk Marion Crane goes on the lam with a wad of cash and hopes of starting a new life, she ends up at the notorious Bates Motel, where manager Norman Bates cares for his housebound mother.',
 'The lively Jo√£o Grilo and the sly Chic√≥ are poor guys living in the hinterland who cheat a bunch of people in a small town in Northeastern Brazil. When they die, they have to be judged by Christ, the Devil and the Virgin Mary before they are admitted to paradise.',
 'A petty criminal fakes insanity to serve his sentence in a mental ward rather than prison. He soon finds himself as a leader to the other patients‚Äîand an enemy to the cruel, domineering nurse who runs the ward.',
 "Frodo Baggins and the other members of the Fellowship continue on their sacred quest to destroy the One Ring--but on separate paths. Their destinies lie at two towers--Orthanc Tower in Isengard, where the corrupt wizard Saruman awaits, and Sauron's fortress at Barad-dur, deep within the dark lands of Mordor. Frodo and Sam are trekking to Mordor to destroy the One Ring of Power while Gimli, Legolas and Aragorn search for the orc-captured Merry and Pippin. All along, nefarious wizard Saruman awaits the Fellowship members at the Orthanc Tower in Isengard."]

<pre style = "color: brown">

- There are no html tags here, as our data came through API calls.

- Now, I don't thinl so there are emojis here as well, as this is a part of a standard website.

- But we can see here there are some uppercases here as expected.

>> Let's make it in a lowercase to start with

In [10]:
 data['Description'] = data['Description'].str.lower()

<pre>

- We will remove punctuations next:

In [12]:
import string

In [15]:
print(string.punctuation)
pun = string.punctuation

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [16]:
def r_pun(text):
    return re.sub(f"[{pun}]", "", text)

In [29]:
data['Description'] = data['Description'].astype('str')

In [31]:
data['Description'] = data['Description'].apply(r_pun)

<pre>


>> Now, we will do the spell correct for the Description, if it have any..

In [32]:
from textblob import TextBlob

In [41]:
# data['Description'].apply(lambda x: TextBlob(x).correct())

<pre>
The above one is taking forever, indicting that this TextBlob is only for a smalldataset.

We will use autocorrect instead.

In [45]:
from autocorrect import Speller

In [46]:
spell = Speller(lang = "en")

In [ ]:
# data['Description'].apply(lambda x: spell(x))

0       a tickingtimebomb insomnia and a slippery soap...
1       after the death of her abusive husband tilde f...
2       downonhisluck veteran tsugumo harsher≈ç enters ...
3       a filmmaker recalls his childhood when he fell...
4       in the povertystricken novelas of rio de janei...
                              ...
9775    during a rainy day and while their mother is o...
9776    detective mark corey storms his way onto an al...
9777    as ranged furious furballs variously invade an...
9778    captain william stanaforth is on a newly solo ...
9779    after a groundbreaking presidential election j...
Name: Description, Length: 9780, dtype: object

<pre>

- It took me 29 minutes to run the above coed, 
- let's do it with swifter.

In [49]:
import swifter

d:\Testing & Deployment\new env test\mock_drill\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [52]:
# data['Description'].swifter.apply(lambda x: TextBlob(x).correct().string)

<pre>
But this one took me 85 mins, just to run half of that!!

In [53]:
data['Description'] = data['Description'].apply(lambda x: spell(x))

In [54]:
data.head()

,Title,Description,Genres
0,Fight Club,a tickingtimebomb insomnia and a slippery soap...,"['Drama', 'Thriller']"
1,Impossible Things,after the death of her abusive husband tilde f...,"['Family', 'Drama']"
2,Harakiri,downonhisluck veteran tsugumo harsher≈ç enters ...,"['Action', 'Drama', 'History']"
3,Cinema Paradiso,a filmmaker recalls his childhood when he fell...,"['Drama', 'Romance']"
4,City of God,in the povertystricken novelas of rio de janei...,"['Drama', 'Crime']"

m
<pre>

Next we will remove the stop words from this Description.

In [56]:
from nltk.corpus import stopwords

In [58]:
sw_eng = stopwords.words('english')

In [61]:
def r_sw(text):
    result = []
    words = text.split()
    for i in words:
        if i in sw_eng:
            result.append("")
        else:
            result.append(i)
    return " ".join(result)

In [63]:
data['Description'] = data['Description'].apply(r_sw)

In [64]:
data.head()

,Title,Description,Genres
0,Fight Club,tickingtimebomb insomnia slippery soap sale...,"['Drama', 'Thriller']"
1,Impossible Things,death abusive husband tilde finds new bes...,"['Family', 'Drama']"
2,Harakiri,downonhisluck veteran tsugumo harsher≈ç enters ...,"['Action', 'Drama', 'History']"
3,Cinema Paradiso,filmmaker recalls childhood fell love m...,"['Drama', 'Romance']"
4,City of God,povertystricken novelas rio de janeiro 19...,"['Drama', 'Crime']"

## Tokenization.

In [65]:
from nltk.tokenize import word_tokenize, sent_tokenize

In [67]:
data['Description'].apply(lambda x: word_tokenize(x))

0       [tickingtimebomb, insomnia, slippery, soap, sa...
1       [death, abusive, husband, tilde, finds, new, b...
2       [downonhisluck, veteran, tsugumo, harsher≈ç, en...
3       [filmmaker, recalls, childhood, fell, love, mo...
4       [povertystricken, novelas, rio, de, janeiro, 1...
                              ...
9775    [rainy, day, mother, conrad, sally, pet, fish,...
9776    [detective, mark, corey, storms, way, onto, al...
9777    [ranged, furious, furballs, variously, invade,...
9778    [captain, william, stanaforth, newly, solo, mi...
9779    [groundbreaking, presidential, election, jeff,...
Name: Description, Length: 9780, dtype: object

<pre>

Or we can do a snetence tkenize on the description as well.

In [68]:
data['Description'].apply(lambda x: sent_tokenize(x))

0       [ tickingtimebomb insomnia   slippery soap sal...
1       [  death   abusive husband tilde finds  new be...
2       [downonhisluck veteran tsugumo harsher≈ç enters...
3       [ filmmaker recalls  childhood   fell  love   ...
4       [  povertystricken novelas  rio de janeiro   1...
                              ...
9775    [  rainy day    mother   conrad  sally   pet f...
9776    [detective mark corey storms  way onto  alien ...
9777    [ ranged furious furballs variously invade  la...
9778    [captain william stanaforth    newly solo miss...
9779    [  groundbreaking presidential election jeff s...
Name: Description, Length: 9780, dtype: object

<pre>

There is another method suing sapcy as well, 

>> So, here we wil just copy the processed dataset with another and will do both the methods:

<br>

In [69]:
df = data.copy()

In [70]:
data['Description'] = data['Description'].apply(lambda x: word_tokenize(x))

In [71]:
data.head()

,Title,Description,Genres
0,Fight Club,"[tickingtimebomb, insomnia, slippery, soap, sa...","['Drama', 'Thriller']"
1,Impossible Things,"[death, abusive, husband, tilde, finds, new, b...","['Family', 'Drama']"
2,Harakiri,"[downonhisluck, veteran, tsugumo, harsher≈ç, en...","['Action', 'Drama', 'History']"
3,Cinema Paradiso,"[filmmaker, recalls, childhood, fell, love, mo...","['Drama', 'Romance']"
4,City of God,"[povertystricken, novelas, rio, de, janeiro, 1...","['Drama', 'Crime']"

<pre>

>> Now, we will use the spacy library over df dataset!!

In [72]:
import spacy

In [73]:
nlp = spacy.load("en_core_web_sm")

In [75]:
df['Description'].apply(lambda x: nlp(x))

0       ( , tickingtimebomb, insomnia,   , slippery, s...
1       (  , death,   , abusive, husband, tilde, finds...
2       (downonhisluck, veteran, tsugumo, harsher≈ç, en...
3       ( , filmmaker, recalls,  , childhood,   , fell...
4       (  , povertystricken, novelas,  , rio, de, jan...
                              ...
9775    (  , rainy, day,    , mother,   , conrad,  , s...
9776    (detective, mark, corey, storms,  , way, onto,...
9777    ( , ranged, furious, furballs, variously, inva...
9778    (captain, william, stanaforth,    , newly, sol...
9779    (  , groundbreaking, presidential, election, j...
Name: Description, Length: 9780, dtype: object

In [76]:
nlp = spacy.load("en_core_web_sm", disable = ["ner", "parser", 
"tagger"])

In [81]:
df['Description'] = df['Description'].apply(lambda x: [i.text for i in nlp(x)])

d:\Testing & Deployment\new env test\mock_drill\Lib\site-packages\spacy\pipeline\lemmatizer.py:188: UserWarning: [W108] The rule-based lemmatizer did not find POS annotation for one or more tokens. Check that your pipeline includes components that assign token.pos, typically 'tagger'+'attribute_ruler' or 'morphologizer'.
  warnings.warn(Warnings.W108)

In [79]:
data.head()

,Title,Description,Genres
0,Fight Club,"[tickingtimebomb, insomnia, slippery, soap, sa...","['Drama', 'Thriller']"
1,Impossible Things,"[death, abusive, husband, tilde, finds, new, b...","['Family', 'Drama']"
2,Harakiri,"[downonhisluck, veteran, tsugumo, harsher≈ç, en...","['Action', 'Drama', 'History']"
3,Cinema Paradiso,"[filmmaker, recalls, childhood, fell, love, mo...","['Drama', 'Romance']"
4,City of God,"[povertystricken, novelas, rio, de, janeiro, 1...","['Drama', 'Crime']"

In [82]:
df.head()

,Title,Description,Genres
0,Fight Club,"[ , tickingtimebomb, insomnia, , slippery, s...","['Drama', 'Thriller']"
1,Impossible Things,"[ , death, , abusive, husband, tilde, finds...","['Family', 'Drama']"
2,Harakiri,"[downonhisluck, veteran, tsugumo, harsher≈ç, en...","['Action', 'Drama', 'History']"
3,Cinema Paradiso,"[ , filmmaker, recalls, , childhood, , fell...","['Drama', 'Romance']"
4,City of God,"[ , povertystricken, novelas, , rio, de, jan...","['Drama', 'Crime']"

<pre>

So, that being done, let's proceed to Stemming.

>> We will do dtemming on data 

>> and will do lemmatization on df
<br>

In [83]:
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

In [90]:
data['Description'][0]

['tickingtimebomb',
 'insomnia',
 'slippery',
 'soap',
 'salesman',
 'channel',
 'primal',
 'male',
 'aggression',
 'shocking',
 'new',
 'form',
 'therapy',
 'concept',
 'catches',
 'underground',
 'fight',
 'clubs',
 'forming',
 'every',
 'town',
 'eccentric',
 'gets',
 'way',
 'ignites',
 'outofcontrol',
 'spiral',
 'toward',
 'oblivion']

In [93]:
print([i for i in data['Description'][0]])
print(len(data['Description'][0]))

['tickingtimebomb', 'insomnia', 'slippery', 'soap', 'salesman', 'channel', 'primal', 'male', 'aggression', 'shocking', 'new', 'form', 'therapy', 'concept', 'catches', 'underground', 'fight', 'clubs', 'forming', 'every', 'town', 'eccentric', 'gets', 'way', 'ignites', 'outofcontrol', 'spiral', 'toward', 'oblivion']
29

In [94]:
data['Description'].apply(lambda x: [ps.stem(i) for i in x])

0       [tickingtimebomb, insomnia, slipperi, soap, sa...
1       [death, abus, husband, tild, find, new, best, ...
2       [downonhisluck, veteran, tsugumo, harsher≈ç, en...
3       [filmmak, recal, childhood, fell, love, movi, ...
4       [povertystricken, novela, rio, de, janeiro, 19...
                              ...
9775    [raini, day, mother, conrad, salli, pet, fish,...
9776    [detect, mark, corey, storm, way, onto, alien,...
9777    [rang, furiou, furbal, various, invad, la, apa...
9778    [captain, william, stanaforth, newli, solo, mi...
9779    [groundbreak, presidenti, elect, jeff, such, b...
Name: Description, Length: 9780, dtype: object

In [95]:
data['Description'] = data['Description'].apply(lambda x: [ps.stem(i) for i in x])

In [96]:
data.sample(3)

,Title,Description,Genres
8164,Gretel & Hansel,"[long, time, ago, distant, fairi, tale, countr...","['Horror', 'Fantasy']"
2424,Masculin F√©minin,"[paul, young, ideal, tri, figur, want, life, t...","['Drama', 'Romance']"
5121,Return to Me,"[took, lot, call, get, bob, recent, widow, arc...","['Romance', 'Comedy']"

<pre>

>> We will try that using Lemmatization in df, 

- It will be a bit slower, but worth the wait!!
<br>

In [98]:
from nltk.stem import WordNetLemmatizer

w_lemma = WordNetLemmatizer()

In [99]:
data.sample()

,Title,Description,Genres
2674,The King,"[england, 15th, centuri, hal, caprici, princ, ...","['Drama', 'History', 'War']"

In [100]:
df.sample()

,Title,Description,Genres
4275,Tinker Bell and the Lost Treasure,"[ , blue, harvest, moon, , rise, allowing, ,...","['Animation', 'Family', 'Adventure', 'Fantasy']"

In [104]:
df['Description'].apply(lambda x: [w_lemma.lemmatize(i) for i in x])

0       [ , tickingtimebomb, insomnia,   , slippery, s...
1       [  , death,   , abusive, husband, tilde, find,...
2       [downonhisluck, veteran, tsugumo, harsher≈ç, en...
3       [ , filmmaker, recall,  , childhood,   , fell,...
4       [  , povertystricken, novelas,  , rio, de, jan...
                              ...
9775    [  , rainy, day,    , mother,   , conrad,  , s...
9776    [detective, mark, corey, storm,  , way, onto, ...
9777    [ , ranged, furious, furballs, variously, inva...
9778    [captain, william, stanaforth,    , newly, sol...
9779    [  , groundbreaking, presidential, election, j...
Name: Description, Length: 9780, dtype: object

In [107]:
df['Description'] = df['Description'].apply(lambda x: [w_lemma.lemmatize(i) for i in x])

In [111]:
df.sample(5)

,Title,Description,Genres
9216,Viral,"[following, , outbreak, , virus, , wife, ...","['Drama', 'Horror', 'Science Fiction']"
3006,Godzilla x Kong: The New Empire,"[following, , explosive, showdown, godzilla, ...","['Action', 'Adventure', 'Science Fiction']"
1492,Miller's Crossing,"[set, , 1929, , political, bos, , advisor,...","['Drama', 'Thriller', 'Crime']"
2867,Love Tactics,"[ , ad, executive, , fashion, designerblogge...","['Romance', 'Comedy']"
3930,Flavors of Youth,"[ , rigorous, city, life, , china, , bustlin...","['Animation', 'Romance', 'Drama']"

### So, the basic pre-processing for NLP task on Description has been successfully completed!! ‚úÖ‚úÖ